
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
            <img src="{{ host }}/admin/img/logo/bg2.jpg"" alt="Image placeholder" class="card-img-top">

<!--            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{{ host }}/admin/img/logo/people.png"  class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
-->
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <a href="https://web.facebook.com/profile.php?id=100004876217479" class="btn btn-sm btn-info  mr-4 ">Connect</a>
                <a href="https://wa.me/6281332504194" class="btn btn-sm btn-default float-right">Message</a>
              </div>
            </div>

            <div class="card-body pt-0">

              <div class="text-center">
                <h5 class="h3">
                  Athallah Dzaki<span class="font-weight-light">, 16</span>
                </h5>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Malang, Jawa Timur
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>`<pre> Lazy Coders </pre>` 
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>MIPA of<a href="http://sman9-mlg.sch.id">SMAN 9 MALANG</a>
                </div>
              </div>
            </div>
       </div>
    </div>
  </div>
</div>
