<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
     <h1 class="h3 mb-0 text-gray-800">BASE64 Encode/Decode APi</h1>
  </div>
     <div class="form-group">
       <label for="exampleFormControlReadonly">Usage</label>
       <input class="form-control" type="text" placeholder="[GET] {{ host }}/api/v1/base64?{ encode/decode } = { value/string }" id="exampleFormControlReadonly" readonly>
     </div>
     </div>
     <div class="col-lg-6">
       <div class="card mb-4">
       <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
         <h6 class="m-0 font-weight-bold text-primary">BASE64</h6>
       </div>
       <div class="card-body">
         <p>Base64 is a group of binary-to-text encoding schemes that represent binary data in an ASCII string format by translating it into a radix-64 representation. The term Base64 originates from a specific MIME content transfer encoding. Each Base64 digit represents exactly 6 bits of data.</p>
         <a tabindex="0" class="btn btn-primary" role="button" data-toggle="popover" data-trigger="focus" title="Example"
         data-content="Example">Example</a>
       </div>


       <div class="my-2"></div>
       <a href="#" class="btn btn-success btn-icon-split btn-sm">
       <span class="icon text-white-50">
       <i class="fas fa-check"></i>
       </span>
       <span class="text">NodeJS</span>
       </a>
       <pre><code class="javascript">
 const request = require('request')

 request.get('{{ host }}/api/v1/base64?encode=indonesiajuara', {json: true}, (error, response, body) => {
   if (!error || response.statusCode == 200) {
     console.log(JSON.stringify(body))
   } else { return throw error }
 })
       </code></pre>

       <div class="my-2"></div>
       <a href="#" class="btn btn-primary btn-icon-split btn-sm">
       <span class="icon text-white-50">
       <i class="fas fa-check"></i>
       </span>
       <span class="text">PHP</span>
       </a>
       <pre><code class="plain-text">

   $url = '{{ host }}/api/v1/base64?encode=indonesiajuara';
   $curl = curl_init($url);
   curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
   curl_setopt($curl, CURLOPT_HTTPHEADER, [
    'Content-Type: application/json'
   ]);
   $response = curl_exec($curl);
   curl_close($curl);
   echo $response . PHP_EOL; // appear response
 
       </code></pre>
      
       <code style="text-align: center;"> [ Example Result ] : </code><br />
       <pre><code class="json">
 {
       "code": 200,
       "message": "success",
       "result":[{
           "string": "indonesiajuara",
           "encode": "aW5kb25lc2lhanVhcmE="
       }]
 }
       </code></pre>
       </div>
     </div>
</div>
