<div class="container-fluid" id="container-wrapper">
  <div class="text-center">
    <img src="{{ host }}/admin/img/error.svg" style="max-height: 100px;" class="mb-3">
    <h3 class="text-gray-800 font-weight-bold">Oopss!</h3>
    <p class="lead text-gray-800 mx-auto">{{ error.status }} Page not found</p>
    <a href="/">&larr; back to home</a>
  </div>
</div>
