<!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; 2020 - developed by
              <b><a href="https://athallahdzaki.github.io/" target="_blank">Athallah Dzaki</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="/admin/vendor/jquery/jquery.min.js">
  <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js">
  <script src="/admin/vendor/jquery-easing/jquery.easing.min.js">
  <script src="/admin/js/ruang-admin.min.js">
  <script src="/admin/vendor/chart.js/Chart.min.js">
  <script src="/admin/js/demo/chart-area-demo.js">
</body>

</html>
