<div class="container-fluid" id="container-wrapper">
  <div class="text-center">
    <!--<img src="img/error.svg" style="max-height: 100px;" class="mb-3">-->
    <p class="lead text-gray-800 mx-auto" id="TextForType">Online APi's Tools</p>
    <!--<a href="">&larr; by ibnusyawall</a>-->
  </div>
  <br><pre><code class="text-plain">
    [ Activity Logs ] :

    [31/12/2019] : Free Rest API is Finishing
    [04/01/2020] : Add Encrypt Tools
    [18/01/2020] : Add Hilih Generator
    [20/01/2020] : Add Spam WhatsApp
    [23/01/2020] : Add Get Movie Link
    [16/05/2020] : Remove Get Movie Link
    [18/05/2020] : Add Corona Info Indonesia
    [28/05/2020] : Add Dicoding Email Checker
    [18/06/2020] : Add Hash Identifier
    [16/11/2020] : Penambahan Tiktok Downloader
    [16/11/2020] : Penambahan Youtube Downloader
    [16/11/2020] : Penambahan Nulis
    [16/11/2020] : Penambahan KBBI
    [17/11/2020] : Penambahan NHentai Finder
    [17/11/2020] : Penambahan Random Hentai
    [17/11/2020] : Penambahan Random Porn
    [17/11/2020] : Penambahan Pornhub Scraper
    [17/11/2020] : Penambahan Random Porn
    [19/11/2020] : Penambahan Info Cuaca
    [19/11/2020] : Pembenahan Nulis
    [19/11/2020] : Penambahan Covid Checker
    [19/11/2020] : Penambahan Url Shortner
    [19/11/2020] : Penambahan Info Gempa
    [19/11/2020] : Penambahan Nekopoi Finder

  </code><pre>
</div>
