<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
     <h1 class="h3 mb-0 text-gray-800">Doujin Finder</h1>
  </div>
     <div class="form-group">
       <label for="exampleFormControlReadonly">Usage</label>
       <input class="form-control" type="text" placeholder="[GET] {{ host }}/api/v1/nhentai?d={Doujin ID}" id="exampleFormControlReadonly" readonly>
     </div>
     </div>
     <div class="col-lg-6">
       <div class="card mb-4">
       <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
         <h6 class="m-0 font-weight-bold text-primary>Get Doujin Image And Image Download URL</h6>
       </div>
       <div class="card-body">
         <p>18+ 
		 Tidak Untuk Anak Anak.
		 Nhentai Finder adalah pengambilan data gambar dari nhentai.com.
		 Dosa Tanggung Sendiri</p>
         <a tabindex="0" class="btn btn-primary" role="button" data-toggle="popover" data-trigger="focus" title="Example / contoh penggunaan"
         data-content="Example Usage">Example Usage</a>
       </div>
       <div class="my-2"></div>
       <a href="#" class="btn btn-success btn-icon-split btn-sm">
       <span class="icon text-white-50">
       <i class="fas fa-check"></i>
       </span>
       <span class="text">NodeJS</span>
       </a>
       <pre><code class="javascript">
 const request = require('request')

 request.get('{{ host }}/api/v1/nhentai?d=334430', {json: true}, (error, response, body) => {
   if (!error || response.statusCode == 200) {
     console.log(JSON.stringify(body))
   } else { return throw error }
 })
       </code></pre>

       <div class="my-2"></div>
       <a href="#" class="btn btn-primary btn-icon-split btn-sm">
       <span class="icon text-white-50">
       <i class="fas fa-check"></i>
       </span>
       <span class="text">PHP</span>
       </a>
       <pre><code class="plain-text">

   $url = '{{ host }}/api/v1/nhentai?d=334430';
   $curl = curl_init($url);
   curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
   curl_setopt($curl, CURLOPT_HTTPHEADER, [
    'Content-Type: application/json'
   ]);
   $response = curl_exec($curl);
   curl_close($curl);
   echo $response . PHP_EOL; // appear response
 
       </code></pre>
      
       <code style="text-align: center;"> [ Example Result ] : </code><br />
       <pre><code class="json">
{
  title: 'Keijun Yahagi wa Koi o Shita. Jou | Light Cruiser Yahagi Fell In Love - First',
  cover: 'https://t.nhentai.net/galleries/1767063/cover.jpg',
  pages: [
    'https://i.nhentai.net/galleries/1767063/1.jpg',
    'https://i.nhentai.net/galleries/1767063/2.jpg',
    'https://i.nhentai.net/galleries/1767063/3.jpg',
    'https://i.nhentai.net/galleries/1767063/4.jpg',
    'https://i.nhentai.net/galleries/1767063/5.jpg',
    'https://i.nhentai.net/galleries/1767063/6.jpg',
    'https://i.nhentai.net/galleries/1767063/7.jpg',
    'https://i.nhentai.net/galleries/1767063/8.jpg',
    'https://i.nhentai.net/galleries/1767063/9.jpg',
    'https://i.nhentai.net/galleries/1767063/10.jpg',
    'https://i.nhentai.net/galleries/1767063/11.jpg',
    'https://i.nhentai.net/galleries/1767063/12.jpg',
    'https://i.nhentai.net/galleries/1767063/13.jpg',
    'https://i.nhentai.net/galleries/1767063/14.jpg',
    'https://i.nhentai.net/galleries/1767063/15.jpg',
    'https://i.nhentai.net/galleries/1767063/16.jpg',
    'https://i.nhentai.net/galleries/1767063/17.jpg',
    'https://i.nhentai.net/galleries/1767063/18.jpg',
    'https://i.nhentai.net/galleries/1767063/19.jpg',
    'https://i.nhentai.net/galleries/1767063/20.jpg',
    'https://i.nhentai.net/galleries/1767063/21.jpg',
    'https://i.nhentai.net/galleries/1767063/22.jpg',
    'https://i.nhentai.net/galleries/1767063/23.jpg',
    'https://i.nhentai.net/galleries/1767063/24.jpg',
    'https://i.nhentai.net/galleries/1767063/25.jpg',
    'https://i.nhentai.net/galleries/1767063/26.jpg',
    'https://i.nhentai.net/galleries/1767063/27.jpg',
    'https://i.nhentai.net/galleries/1767063/28.jpg',
    'https://i.nhentai.net/galleries/1767063/29.jpg',
    'https://i.nhentai.net/galleries/1767063/30.jpg',
    'https://i.nhentai.net/galleries/1767063/31.jpg',
    'https://i.nhentai.net/galleries/1767063/32.jpg',
    'https://i.nhentai.net/galleries/1767063/33.jpg',
    'https://i.nhentai.net/galleries/1767063/34.jpg',
    'https://i.nhentai.net/galleries/1767063/35.jpg',
    'https://i.nhentai.net/galleries/1767063/36.jpg',
	'https://i.nhentai.net/galleries/1767063/37.jpg',
    'https://i.nhentai.net/galleries/1767063/38.jpg',
    'https://i.nhentai.net/galleries/1767063/39.jpg',
    'https://i.nhentai.net/galleries/1767063/40.jpg',
    'https://i.nhentai.net/galleries/1767063/41.jpg',
    'https://i.nhentai.net/galleries/1767063/42.jpg',
    'https://i.nhentai.net/galleries/1767063/43.jpg',
    'https://i.nhentai.net/galleries/1767063/44.jpg',
    'https://i.nhentai.net/galleries/1767063/45.jpg',
    'https://i.nhentai.net/galleries/1767063/46.jpg',
    'https://i.nhentai.net/galleries/1767063/47.jpg',
    'https://i.nhentai.net/galleries/1767063/48.jpg',
    'https://i.nhentai.net/galleries/1767063/49.jpg',
    'https://i.nhentai.net/galleries/1767063/50.jpg',
    'https://i.nhentai.net/galleries/1767063/51.jpg',
    'https://i.nhentai.net/galleries/1767063/52.jpg',
    'https://i.nhentai.net/galleries/1767063/53.jpg',
    'https://i.nhentai.net/galleries/1767063/54.jpg',
    'https://i.nhentai.net/galleries/1767063/55.jpg',
    'https://i.nhentai.net/galleries/1767063/56.jpg'
  ]
}
       </code></pre>
       </div>
     </div>
</div>
