<div class="container-fluid" id="container-wrapper">
  <div class="text-center">
    <!--<img src="img/error.svg" style="max-height: 100px;" class="mb-3">-->
    <p class="lead text-gray-800 mx-auto" id="TextForType">Online APi's Tools</p>
    <!--<a href="">&larr; by ibnusyawall</a>-->
  </div>
  <div class="row mb-3">
    <div class="col-xl-3 col-md-6 mb-4">
	  <div class="card h-100">
		<div class="card-body">
		  <div class="row no-gutters align-items-center">
			<div class="col mr-2">
			  <div class="text-xs font-weight-bold text-uppercase mb-1">Total Visitor</div>
			  <div id='visitor' class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0</div>
			</div>
			<div class="col-auto">
			  <i class="fas fa-users fa-2x text-info"></i>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
	  <div class="card h-100">
		<div class="card-body">
		  <div class="row no-gutters align-items-center">
			<div class="col mr-2">
			  <div class="text-xs font-weight-bold text-uppercase mb-1">Total API</div>
			  <div id='TotalAPI' class="h5 mb-0 mr-3 font-weight-bold text-gray-800">35</div>
			</div>
			<div class="col-auto">
			  <i class="fas fa-book fa-2x text-info"></i>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
	   <div class="card h-100">
		 <div class="card-body">
		   <div class="row no-gutters align-items-center">
			<div class="col mr-2">
			  <div class="text-xs font-weight-bold text-uppercase mb-1">Total API Usage</div>
			  <div id='apiusage' class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0</div>
			</div>
			<div class="col-auto">
			  <i class="fas fa-book fa-2x text-info"></i>
			</div>
		  </div>
		 </div>
	   </div>
	</div>
  </div>
  <br>
  <div class="col-xl-4 col-lg-5">
	  <div class="card mb-5">
		<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		  <h6 class="m-0 font-weight-bold text-primary">Goal</h6>
		</div>
		<div class="card-body">
		  <div class="mb-3">
			<div class="small text-gray-500">API USAGE
			  <div id="apiusage-small" class="small float-right"><b>0 of 50000 Use Times</b></div>
			</div>
			<div class="progress" style="height: 12px;">
			  <div id="apiusage-bar" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0"
				aria-valuemin="0" aria-valuemax="50000"></div>
			</div>
		  </div>
		  <div class="mb-3">
			<div class="small text-gray-500">VISITOR
			  <div id="visitor-small" class="small float-right"><b>0 of 25000 Visitor</b></div>
			</div>
			<div class="progress" style="height: 12px;">
			  <div id="visitor-bar" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0"
				aria-valuemin="0" aria-valuemax="25000"></div>
			</div>
		  </div>
		  <div class="mb-3">
			<div class="small text-gray-500">API CREATED
			  <div id="apiusage-small" class="small float-right"><b>35 of ∞ API Created</b></div>
			</div>
			<div class="progress" style="height: 12px;">
			  <div id="apicreated-bar" class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="35"
				aria-valuemin="20" aria-valuemax="35"></div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  <br><pre><code class="text-plain">
    [ Activity Logs ] :
    [27/06/2021] : Penambahan Crypto Currency
    [26/06/2021] : Pembenahan Youtube Download
    [26/06/2021] : Perapihan Beberapa Kode
    [26/06/2021] : Penambahan Goal
    [23/06/2021] : Penambahan Film Apik
    [23/06/2021] : Penambahan TTS Cak lontong
    [23/06/2021] : Penambahan Tiktok NO WM
    [19/11/2020] : Penambahan Info Gempa
    [19/11/2020] : Penambahan Url Shortner
    [19/11/2020] : Penambahan Covid Checker
    [19/11/2020] : Pembenahan Nulis
    [19/11/2020] : Penambahan Info Cuaca
    [16/11/2020] : Penambahan KBBI
    [16/11/2020] : Penambahan Nulis
    [16/11/2020] : Penambahan Youtube Downloader
    [16/11/2020] : Penambahan Tiktok Downloader
    [18/06/2020] : Add Hash Identifier	
    [28/05/2020] : Add Dicoding Email Checker
    [18/05/2020] : Add Corona Info Indonesia
    [16/05/2020] : Remove Get Movie Link
    [23/01/2020] : Add Get Movie Link
    [20/01/2020] : Add Spam WhatsApp	
    [18/01/2020] : Add Hilih Generator	
    [04/01/2020] : Add Encrypt Tools
    [31/12/2019] : Free Rest API is Finishing

  </code><pre>
</div>